<header class="head" [ngClass]="getHeaderClass()">
  <nav class="m-auto">
    <div class="container">
      <ul class="menu d-flex">
        <li class="menu_item mx-4"><a href="#courses" class="menu_link">КУРСЫ</a></li>
        <li class="menu_item mx-4"><a href="#about" class="menu_link">О НАС</a></li>
        <li class="menu_item mx-4"><a href="#steps" class="menu_link">ЭТАПЫ ОБУЧЕНИЯ</a></li>
        <li class="menu_item mx-4"><a href="#any_questions" class="menu_link">ВОПРОСЫ</a></li>
      </ul>
    </div>
  </nav>

  <button [routerLink] = "['/sign-in']" class="main-block_button" (click)="openSignInDialog()">Sign in</button>
  <button [routerLink] = "['/sign-up']" class="main-block_button" (click)="openSignUpDialog()">Sign up</button>
</header>
<mat-divider></mat-divider>
