.svg {
  &_1{
    top: -30px;
    right: 100px;
  }
  &_2{
    top: 150px;
    right: 420px;
  }
}
.main-block {
  &_images {
    background-image: url("../../../../assets/img/background-removebg-preview.png");
    width: 521px;
    height: 479px;
  }
}
.about {
  background-color: #6557AD;
}


