<div class="course_detail">
  <div class="course_title">
    FizMath Courses
  </div>
  <div class="course_header">
    Чему вы хотите научиться сегодня?
  </div>
  <div class="course_text">
    Наши курсы познакомят вас с процессом создания небольших приложений или добавления новых функций в существующие приложения.
  </div>
</div>

<div class="course_list">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <button mat-button  color="primary">Continue</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <button mat-button  color="primary">Continue</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <button mat-button  color="primary">Continue</button>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="course_list_box">
          <div class="course_list_box_header">
            Одночлен. Стандартный вид одночлена
          </div>
          <div class="course_list_box_text">
            Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
          <div class="course_list_box_footer">
            <div class="course_list_box_btn">
              Continue
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
