<div class="h-screen p-6 sm:p-10">

  <!-- CONTENT GOES HERE -->
  <div class="intro">
  </div>

  <div class="container">
    <div class="features">
      <div class="features_item">
        <h4 class="features_title">Одночлен. Стандартный вид одночлена</h4>
        <div class="features_text">Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
        </div>
      </div>


        <div class="features_item">
          <h4 class="features_title">Одночлен. Стандартный вид одночлена</h4>
          <div class="features_text">Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
          </div>
        </div>


      <div class="features_item">
        <h4 class="features_title">Одночлен. Стандартный вид одночлена</h4>
        <div class="features_text">Одночлен — это произведение, состоящее из числового множителя и одной или нескольких переменных, каждая из которых взята в неотрицательной степени.....
        </div>
      </div>
    </div>
  </div>




