<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
    <div class="flex flex-col w-full max-w-4xl">
      <div class="-ml-4">
        <a class="flex items-center"
          mat-button
          [routerLink]="['../']"
          [color]="'primary'">
          <mat-icon class="scale-75">arrow_back</mat-icon>
          <span class="ml-2">Back to Help Center</span>
        </a>
      </div>
      <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
        Contact support
      </div>
      <!-- Form -->
      <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-white">
        <form
          class="space-y-3"
        >
          <div class="mb-6">
            <div class="text-2xl font-bold tracking-tight">Submit your request</div>
            <div class="text-secondary">Your request will be processed and our support staff will get back to you in 24 hours.</div>
          </div>
          <!-- Name -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              [required]="true">
<!--            <mat-error *ngIf="supportForm.get('name').hasError('required')">-->
<!--              Required-->
<!--            </mat-error>-->
          </mat-form-field>
          <!-- Email -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [required]="true">
<!--            <mat-error *ngIf="supportForm.get('email').hasError('required')">-->
<!--              Required-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="supportForm.get('email').hasError('email')">-->
<!--              Enter a valid email address-->
<!--            </mat-error>-->
          </mat-form-field>
          <!-- Subject -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Subject</mat-label>
            <input
              matInput
              [required]="true">
            <!--            <mat-error *ngIf="supportForm.get('subject').hasError('required')">-->
<!--              Required-->
<!--            </mat-error>-->
          </mat-form-field>
          <!-- Message -->
          <mat-form-field class="fuse-mat-textarea w-full" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea
                          matInput
                          [required]="true"
                          [rows]="5"
                          ></textarea>
<!--            <mat-error *ngIf="supportForm.get('message').hasError('required')">-->
<!--              Required-->
<!--            </mat-error>-->
          </mat-form-field>
          <!-- Actions -->
          <div class="flex items-center justify-end">
            <button
              mat-button
              color="accent"
              >
              Clear
            </button>
            <button
              class="ml-4"
              mat-flat-button
              color="primary"
              >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
