.flip {
  width: 250px;
  height: 200px;
  text-align: center;
  &-content {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  &:hover &-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
  }
  &-front {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 23px;
    padding: 70px 20px;
    backface-visibility: hidden;
    font-size: 20px;
    color: #392F6B;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: 6px solid #6557AD;
    box-shadow: 6px 6px #AA9EE8;
  }

  &-back{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 23px;
    padding: 35px 20px;
    backface-visibility: hidden;
    font-size: 18px;
    color: #392F6B;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: 6px solid #6557AD;
    box-shadow: 6px 6px #AA9EE8;
  }

  &-back {
    transform: rotateY(180deg);
    border: 6px solid #AA9EE8;
    box-shadow: 6px 6px #6557AD;
  }
}
