<mat-card class="m-5">
  <mat-card-title class="text-center">Add New Quiz</mat-card-title>
  <div class="container mx-auto sm:px-4">
    <div class="flex flex-wrap justify-center">
      <div class="md:w-2/3 pr-4 pl-4 md:mx-1/5">
        <form (ngSubmit)="addQuiz()">
          <!-- title field  -->
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Enter Title</mat-label>
            <input
              [(ngModel)]="quizData['title']"
              type="text"
              name="title"
              placeholder="Enter here"
              matInput
              required
            />
          </mat-form-field>

          <!-- description field  -->

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Enter Description </mat-label>
            <textarea
              [(ngModel)]="quizData['description']"
              type="text"
              name="description"
              placeholder="Enter here"
              matInput
              rows="5"
            ></textarea>
          </mat-form-field>

          <div class="flex flex-wrap ">
            <div class="md:w-1/2 pr-4 pl-4">
              <!-- //max marks -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Maximum Marks</mat-label>
                <input
                  [(ngModel)]="quizData['maxMarks']"
                  type="text"
                  name="maxMarks"
                  placeholder="Enter here"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="md:w-1/2 pr-4 pl-4">
              <!-- number of question to be shown  -->
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Number of Question</mat-label>
                <input
                  [(ngModel)]="quizData['numberOfQuestions']"
                  type="text"
                  name="numberOfQuestions"
                  placeholder="Enter here"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <!-- active field   -->

          <mat-slide-toggle
            name="active"
            [(ngModel)]="quizData['active']"
            class="mt20"
          >
            Publish Status
          </mat-slide-toggle>

          <br />
          <!-- //category select  -->
          <mat-form-field appearance="outline" class="mt-4 w-full">
            <mat-label>Categories</mat-label>
            <mat-select name="category" [(ngModel)]="quizData['category']['cid']">
              <mat-option *ngFor="let c of categories" [value]="c['cid']">
                {{ c['title'] }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="container mx-auto sm:px-4 text-center">
            <button mat-raised-button color="accent" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>

<!-- {{ quizData | json }} -->
