<mat-card>
  <mat-card-title class="text-center">Add New Category</mat-card-title>
  <mat-card-content class="">
    <form (ngSubmit)="formSubmit()" class="flex flex-col">
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Title</mat-label>
        <input
          required
          autofocus
          type="text"
          name="title"
          matInput
          placeholder="Enter here"
          [(ngModel)]="category.title"
        />
      </mat-form-field>

      <mat-form-field class="w100" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"
          matInput
          placeholder="Enter Category Description"
          [(ngModel)]="category.description"
          rows="15"
        ></textarea>
      </mat-form-field>

      <div class="container text-center mt15">
        <button mat-raised-button color="accent">Add</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
