<mat-card class="m-5">
  <mat-card-title class="text-center">Questions of {{ qTitle }}</mat-card-title>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let q of questions; let i = index" class="border-solid border-2 border-indigo-600 rounded-md p-4 mb-4">
        <mat-card-content>
          <div class="flex justify-between items-center gap-3">
            <p class="flex gap-2">
              <span class="font-bold"> Q {{ i + 1 }})</span>
              <span class="ml20" [innerHTML]="q['content']"></span>
            </p>
            <div>
              <button mat-icon-button color="warn" (click)="deleteQuestion(q['quesId'])">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon>create</mat-icon>
              </button>
            </div>
          </div>
          <div class="my-2 container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
            <div class="flex flex-wrap ">
              <div class="md:w-1/2 pr-4 pl-4">
                <p><b>1]</b> {{ q['option1'] }}</p>
              </div>
              <div class="md:w-1/2 pr-4 pl-4">
                <p><b>2]</b> {{ q['option2'] }}</p>
              </div>
            </div>
            <div class="flex flex-wrap ">
              <div class="md:w-1/2 pr-4 pl-4">
                <p><b>3]</b> {{ q['option3'] }}</p>
              </div>
              <div class="md:w-1/2 pr-4 pl-4">
                <p><b>4]</b> {{ q['option4'] }}</p>
              </div>
            </div>
          </div>
          <p><b>Correct Answer:</b> {{ q['answer'] }}</p>
        </mat-card-content>
      </div>

      <div class="container text-center">
        <button
          [routerLink]="'/quizzes/add-question/' + qId + '/' + qTitle"
          mat-raised-button
          color="accent">
          Add Question
        </button>
      </div>
    </div>
  </div>
</mat-card>
